.mirrorCardContainer {
    height: 400px;
    width: 50%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

    background: url("https://assets-built.s3.amazonaws.com/placeholder.png");
}
.contentWrap .content {
    width: 60%;
    margin: 0;
    text-align: center;
}
.contentWrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
